.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5%;
    height: 10vh;
    font-size: 40px;
    background-color: #141D2F;



    div{
        font-size: 23px;
        width: 324px;
        display: flex;
        justify-content: space-between;

        a{
            cursor: pointer;
            
            &:hover{
                color: #00BEE8;
            }
        }
    }
}