<div class="footer-container">
    <div>
        <div class="logo-footer">
            <p>S</p><p style="color: #00BEE8;">i</p><p>mo</p><p style="color: #4B47FF;">n</p><p>&nbsp;V</p><p style="color: #4B47FF;">i</p><p style="color: #00BEE8;">t</p><p>t</p>
        </div>
        <p class="impressum-destop">Impressum</p>
    </div>
    <div ><span>&copy; Simon Vitt 2023</span></div>
    <div class="contact-footer">
        <img src="assets/img/icons/github-icon.svg" class="button-socials">
        <img src="assets/img/icons/email-icon.svg" class="button-socials">
        <img src="assets/img/icons/linkedin-icon.svg" class="button-socials">
    </div>
    <p class="impressum-mobile">Impressum</p>
</div>