<div class="footer-container">
    <div>
        <a routerLink="/" class="logo-footer">
            <p>S</p><p style="color: #00BEE8;">i</p><p>mo</p><p style="color: #4B47FF;">n</p><p>&nbsp;V</p><p style="color: #4B47FF;">i</p><p style="color: #00BEE8;">t</p><p>t</p>
        </a>
        <p routerLink="/impressum" class="impressum-destop">Impressum</p>
    </div>
    <div ><span>&copy; Simon Vitt 2023</span></div>
    <div class="contact-footer">
        <a href="https://github.com/SimonVitt/" target="_blank"><img src="assets/img/icons/github-icon.svg" class="button-socials"></a>
        <a href="mailto:simon-vitt@simon-vitt.de"><img src="assets/img/icons/email-icon.svg" class="button-socials"></a>
        <a href="https://www.linkedin.com/in/simon-vitt-666568261/" target="_blank"><img src="assets/img/icons/linkedin-icon.svg" class="button-socials"></a>
    </div>
    <p routerLink="/impressum" class="impressum-mobile">Impressum</p>
</div>