<div class="about-me-container">
    <div class="about-me-content" appFlyInLeft>
        <h2>About me</h2>
        <span> Hi, I am a Frontend Deverloper based in Gießen, Germany. In the last months I have found my passion for
            coding and building software.
            After finishing an extensive Coding School for Frontend Developers, I want to prove myself to the working
            world and I hope to become a part of your team to build interesting software.
        </span>
        <div class="container-information">
            <div class="icon-container-abme">
                <img src="assets/img/icons/lightbulb-icon.svg">
            </div>
            <p>I grew up in middle Germany and graduated from highschool in 2021 with GPA of 1.2(A) and also got
                the Abiturprice for mathematics by the German Mathematical Society. I am a fast learner and absolutely
                fascinated by software, so I would love to be part of your Softwaredevelopmentteam.</p>
        </div>
        <div class="container-information">
            <div class="icon-container-abme">
                <img src="assets/img/icons/puzzle-icon.svg">
            </div>
            <p>I took a gap-year after my graduation from highschool.
                During that time I traveled through Europe, volunteered for a company helping homeless people in lisbon
                and also worked in a fabric.
                I decided to start studying mathematics in September 2022, but shortly after I realized, that coding and
                building software is my passion. I started coding with Java and build simple apps.
                In November 2022 I started the Developerakademie Codingschool and learned Webdevelopment with HTML, CSS,
                Javascript and Angular and I became even more passionate about coding!</p>
        </div>
    </div>
    <div class="about-me-picture">
            <img class="profile-pic" src="assets/img/myselffinal.png">
    </div>
    <div class="about-me-picture-mobile">
        <img class="profile-pic-mobile" src="assets/img/myselffinal.png">
        <img class="diagonal-pic" src="assets/img/diagonalblck.svg">
    </div>
    <div class="background-abme">
        <img src="assets/img/background/bgabme.svg">
    </div>
</div>