.about-me-container {
    padding-top: 5vh;
    display: flex;
    justify-content: space-between;
    position: relative;
    box-sizing: border-box;
    overflow-x: clip;

    h2 {
        margin: 0;
    }
}

.about-me-content {
    padding-left: 5vw;
    width: 40%;
    max-width: 1000px;
    z-index: 1;
}

.container-information {
    display: flex;
    align-items: center;
    width: 100%;

    p {
        width: 80%;
    }
}

.icon-container-abme {
    display: flex;
    justify-content: center;
    width: 20% !important;

    img {
        filter: invert(54%) sepia(96%) saturate(1256%) hue-rotate(149deg) brightness(96%) contrast(101%);

        &:hover {
            transition: transform 0.125s;
            transform: scale(1.2);
        }
    }
}

.about-me-picture {
    padding-right: 5vw;
    display: flex;
    align-items: center;

    img {
        background-color: #141d2f;
        border-radius: 50%;
        height: 600px;
        width: 600px;
        object-fit: cover;
        border: 2px solid #00BEE8;
    }
}

.background-abme {
    z-index: -1;
    position: absolute;
    right: 0;
    top: 0;
}

.about-me-picture-mobile {
    display: none;
}

@media (max-width: 1550px) {

    .about-me-content {
        width: 43%;
    }

    .about-me-picture img {
        height: 500px;
        width: 500px;
    }
}

@media(max-width: 1490px) {
    p {
        font-size: 14px;
    }

    span {
        font-size: 16px;
    }

    h2 {
        font-size: 72px;
    }
}

@media (max-width: 920px){
    h2{
        font-size: 60px;
    }

    p{
        font-size: 13px;
    }

    span{
        font-size: 14px;
    }
}

@media (max-width: 840px) {
    h2{
        font-size: 60px;
    }

    p{
        font-size: 12px;
    }

    span{
        font-size: 14px;
    }
}

@media (max-width: 720px){
    h2{
        font-size: 40px;
    }

    ::-webkit-scrollbar {
        display: none;
    }
}

@media (max-width: 1300px) {
    .about-me-picture img {
        height: 400px;
        width: 400px;
    }
}

@media (max-width: 1170px) {

    .about-me-picture img {
        height: 380px;
        width: 380px;
    }
}

@media (max-width: 960px) {

    .about-me-container {
        flex-direction: column-reverse;
        padding-top: 0;
    }

    .about-me-picture {
        display: none;
    }

    .about-me-picture-mobile {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .profile-pic-mobile {
        height: 478px;
    }

    .diagonal-pic {
        position: absolute;
        left: 0;
        right: 0;
        top: 294px;
    }

    .about-me-content {
        padding-right: 5vw;
        width: 100%;
        z-index: 3;
        box-sizing: border-box;
        margin-bottom: 72px;
    }
}

@media (max-width: 600px){
    .diagonal-pic{
        top: 218px;
    }

    .profile-pic-mobile{
        height: 400px;
    }
}

@media (max-width: 510px){
    .diagonal-pic{
        top: 170px;
    }

    .profile-pic-mobile{
        height: 350px;
    }
}

@media (max-width: 440px){
    .diagonal-pic{
        top: 100px;
    }

    .profile-pic-mobile{
        height: 282px;
    }

    .icon-container-abme img{
        padding-right: 16px;
    }
}

@media (max-width: 375px){
    .diagonal-pic{
        top: 88px;
    }

    .profile-pic-mobile{
        height: 267px;
    }
}

@media (max-width: 353px){
    .diagonal-pic{
        top: 60px;
    }

    .profile-pic-mobile{
        height: 240px;
    }
}