<div class="about-me-container">
    <div class="about-me-content" appFlyInLeft>
        <h2>About me</h2>
        <span> Hi, I am a Fullstack Deverloper based in Gießen, Germany. I work for the Developerakademie as a Softwaredeveloper and Softwaredeveloper-Mentor. We teach and develop in the Frontend with HTML, CSS, JS and Angular.
            In the Backendcourse I teach Django (mostly DRF) and also deployment to Google Cloud. For the company I also write Software with Flask.
        </span>
        <div class="container-information">
            <div class="icon-container-abme">
                <img src="assets/img/icons/lightbulb-icon.svg">
            </div>
            <p>I grew up in middle Germany and graduated from high school in 2021 with a GPA of 1.2. Also I got
                the Abiturprice for mathematics by the German Mathematical Society. I am a fast learner and absolutely
                fascinated by software.</p>
        </div>
        <div class="container-information">
            <div class="icon-container-abme">
                <img src="assets/img/icons/puzzle-icon.svg">
            </div>
            <p>I took a gap-year after my graduation from highschool.
                During that time I traveled through Europe. I volunteered for a company helping homeless people in Lisbon
                and also worked in a fabric.
                Then I decided to start studying mathematics in September 2022. I shortly after realized, that coding and
                building software is my passion. So I started working at the Developerakademie as a softwaredeveloper and mentor.
                I became even more passionate in coding, especially about Angular, Flask and Django.</p>
        </div>
    </div>
    <div class="about-me-picture">
            <img class="profile-pic" src="assets/img/myselffinal.webp">
    </div>
    <div class="about-me-picture-mobile">
        <img class="profile-pic-mobile" src="assets/img/myselffinal.webp">
        <img class="diagonal-pic" src="assets/img/diagonalblck.svg">
    </div>
    <div class="background-abme">
        <img src="assets/img/background/bgabme.svg">
    </div>
</div>