<div class="container-menu-mobile" [ngClass]="showAnimation ? 'flyIn' : 'flyOut'">
    <img src="assets/img/close-btn.svg" class="close-btn" (click)="changeMenuFunction()">
    <div class="content-container-menu">
        <a href="#about-me" (click)="changeMenuFunction()">About me</a>
        <a href="#skills" (click)="changeMenuFunction()">My skills</a>
        <a href="#projects" (click)="changeMenuFunction()">Portfolio</a>
        <a href="#contact" (click)="changeMenuFunction()">Contact</a>
    </div>
</div>