.container-menu-mobile{
    display: none;
}

@media (max-width: 720px) {

    .container-menu-mobile {
        z-index: 100;
        display: flex;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(20, 29, 47, 0.8);
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .close-btn{
        position: absolute;
        top: 3vh;
        right: 5vw;
    }

    .content-container-menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 300px;
        padding: 8px 0px;

        a{
            font-size: 28px;
            cursor: pointer;

            &:active{
                color: #00BEE8;
            }
        }
    }

    .flyIn {
        animation: flyIn;
        animation-duration: 0.8s;
    }

    @keyframes flyIn {
        0% {
            right: -100%;
        }
    
        100% {
            right: 0px;
        }
    }
    
    .flyOut {
        animation: flyOut;
        animation-duration: 0.8s;
    }
    
    @keyframes flyOut {
        0% {
            right: 0px;
        }
    
        100% {
            right: -150%;
        }
    }

}