.projects-container {
    padding-bottom: 100px;
    z-index: 2;
    position: relative;
    overflow-x: clip;
}

.projects {
    padding: 0 5%;
}

h3 {
    font-size: 32px;
    color: #4B47FF;
    margin-bottom: 12px;
}

.project {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        height: 505px;
    }
}

.headline-portfolio {
    display: flex;

    img {
        width: 3vw;
    }

    h2 {
        margin: 0;
        margin-left: 2vw;
    }
}

.project-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    padding-top: 54px;
    height: 400px;
    box-sizing: border-box;
    overflow-y: clip;
}

.span-top-proj {
    margin-left: 5vw;
    margin-right: 5vw;
}

.project-info {
    width: 45%;
    padding: 0px 38px;
    box-sizing: border-box;

    span {
        font-size: 23px;
        color: #00BEE8;
    }

    div {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.button-test {
    background-color: #4B47FF !important;

    &:hover {
        transform: scale(1.0);
        background-color: #00BEE8 !important;
    }
}

.button-github {
    border: 1px solid #00BEE8;
    background-color: #141D2F !important;

    &:hover {
        transform: scale(1.0);
        background-color: #00BEE8 !important;
    }
}

.bg1-projects {
    z-index: -1;
    position: absolute;
    left: -700px;
    top: 13%;
    transform: rotate(90deg);

}

.big-line-port {
    display: none;
}

.bg2-projects {
    z-index: -1;
    position: absolute;
    right: -700px;
    top: 50%;
    transform: rotate(180deg);

}

.github-links{
    flex-direction: row !important;
    justify-content: space-evenly !important;
}

@media (max-width: 1280px) {
    .project-info div{
        flex-direction: column;
        button{
            margin-top: 12px;
        }
    }
    .github-links{
        flex-direction: row !important;
        button{
            margin-top: 0px;
        }
    }
    
}


@media (max-width: 1170px) {
    .project img {
        height: 372px;
    }
}

@media (max-width:920px) {
    .project-info span {
        font-size: 17px;
    }

    .button-github {
        width: 100px;
        margin-top: 24px;
    }

    .button-test {
        width: 100px;
        margin-top: 24px;
    }

    h3 {
        font-size: 28px;
        margin-bottom: 0;
    }

    .project {
        overflow-y: clip;
    }

    .project img {
        height: 320px;
    }
}

@media (max-width: 720px) {

    .projects-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 0;

        span {
            text-align: center;
        }
    }

    .project {
        flex-direction: column;
        height: unset !important;
    }

    .projects{
        height: 2550px;
    }

    .polloloco {
        display: flex;
        flex-direction: column-reverse;
    }

    .position-reltive-closer {
        position: relative;
        top: -100px;
    }

    .position-reltive-closer2 {
        position: relative;
        top: -200px;
    }

    .position-reltive-closer3 {
        position: relative;
        top: -300px;
    }

    .project-img {
        width: 100%;
        padding-top: 0;

        img {
            max-width: 372px;
        }
    }

    .project-info {
        width: 100%;
        position: relative;
        top: -110px;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 440px;

        p {
            text-align: center;
        }
    }

    .span-top-proj {
        margin-left: 0;
        padding: 0 5vw;
        max-width: 560px;
    }

    .big-line-port {
        display: unset;
        width: 48px !important;
    }

    .headline-portfolio {
        width: 100%;
        justify-content: end;

        img {
            width: 34px;
        }

        h2 {
            margin: 0 2vw;
        }
    }
}