<div class="contact-container">
    <div class="heading-contacts">
        <h2 style="margin: 0;">Contact</h2>
        <img src="assets/img/long-blue-line.svg">
    </div>
    <div class="contact-details-container">
        <div class="contact-question">
            <div class="headlinequestion-contact">
                <img src="assets/img/small-green-line.svg">
                <h3>Got a problem to solve?</h3>
            </div>
            <p>Contact me through this form, I am interested in hearing you, knowing your ideas and contributing to your
                projects with my work.</p>
            <span>Need a Frontend developer? <strong>Contact me!</strong></span>
        </div>
        <form class="contact-form" action="https://www.simon-vitt.de/send_mail.php" method="post" appFlyInRight>
            <input placeholder="Your name" name="name" required>
            <input placeholder="Your email" name="email" type="email" required>
            <textarea placeholder="Your message" name="message" required></textarea>
            <button mat-raised-button type="submit" class="submit-btn">Send message :)</button>
        </form>
    </div>
    <a class="img-up" href="#i-am"><img src="assets/img/goupbtn.svg"></a>
    <div class="bg-contact">
        <img src="assets/img/background/bgbluedown.svg">
    </div>
</div>