<div class="contact-container">
    <div class="heading-contacts">
        <h2 style="margin: 0;">Contact</h2>
        <img src="assets/img/long-blue-line.svg">
    </div>
    <div class="contact-details-container">
        <div class="contact-question">
            <div class="headlinequestion-contact">
                <img src="assets/img/small-green-line.svg">
                <h3>Got a problem to solve?</h3>
            </div>
            <p>I am interested in your projects, knowing your ideas and contributing with my work. Please contact me through this form.</p>
            <span>Need a Softwaredeveloper? <strong>Contact me!</strong></span>
        </div>
        <form class="contact-form" (submit)="sendMail()" ngNativeValidate appFlyInRight #myForm>
            <input placeholder="Your name" name="name" #nameField [disabled]="sending" required>
            <input placeholder="Your email" name="email" #emailField [disabled]="sending" type="email" required>
            <textarea placeholder="Your message" name="message" #messageField [disabled]="sending" required></textarea>
            <div style="width: 100%;">
                <p style="color: red; font-size: 11px; margin-left: 12px; margin-top: 12px; margin-bottom: 0;" *ngIf="error">Unable to send message... Try again later!</p>
                <p style="color: orange; font-size: 11px; margin-left: 12px; margin-top: 12px; margin-bottom: 0;" *ngIf="sending">sending...</p>
                <p style="color: rgb(74, 209, 74); font-size: 11px; margin-left: 12px; margin-top: 12px; margin-bottom: 0;" *ngIf="sendSuccess">Email send! Thank you :)</p>
            </div>
            <button mat-raised-button type="submit" class="submit-btn" [disabled]="sending" >Send message :)</button>
        </form>
    </div>
    <a class="img-up" href="#i-am"><img src="assets/img/goupbtn.svg"></a>
    <div class="bg-contact">
        <img src="assets/img/background/bgbluedown.svg">
    </div>
</div>