.contact-container{
    padding-bottom: 152px;
    position: relative;
    overflow-y: clip;
}

.heading-contacts {
    display: flex;
    justify-content: center;
    position: relative;

    h2 {
        margin-right: 2vw;
    }

    img {
        position: absolute;
        right: 0;
        top: 67px;
        width: 33%;
    }
}

.contact-details-container {
    display: flex;
    justify-content: space-between;
    padding-top: 48px;

    p {
        margin-left: 5vw;
    }
}

.headlinequestion-contact {
    display: flex;

    h3 {
        margin: 0;
        margin-left: 2vw;
        font-size: 28px;
    }

    img {
        width: 3vw;
    }
}

.contact-form {
    margin-right: 5vw;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
        width: 100%;
        margin-bottom: 16px;
        border: 1px solid #4B47FF;
        background-color: #141D2F;
        color: white;
        padding: 8px;
        border-radius: 8px;
        font-size: 16px;

        &:hover{
            border-color: #00BEE8;
        }

        &:focus {
            outline: none;
            border-color: #00BEE8;
        }
    }

    textarea {
        width: 100%;
        border: 1px solid #4B47FF;
        background-color: #141D2F;
        color: white;
        padding: 8px;
        height: 180px;
        border-radius: 8px;
        resize: none;
        font-size: 16px;
        font-family: 'Poppins';

        &:hover{
            border-color: #00BEE8;
        }

        &:focus {
            outline: none;
            border-color: #00BEE8;
        }
    }

    button {
        width: 160px;
    }
}

.bg-contact{
    position: absolute;
    top: 30%;
    left: 0;
    z-index: -1;
}

.img-up{
    position: absolute;
    right: 5vw;
    bottom: 50px;
    cursor: pointer;

    &:hover{
        filter: invert(54%) sepia(96%) saturate(1256%) hue-rotate(149deg) brightness(96%) contrast(101%);
    }
}