.skills-container {
    padding-top: 140px;
    min-height: 50vh;
    padding-left: 5%;
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow-x: clip;
    padding-bottom: 120px;
}

.icon-container-skills {
    padding-top: 24px;
    display: flex;
    width: 50%;
    max-width: 799px;
    flex-wrap: wrap;
    justify-content: center;
}

.single-skill {
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 40px;

    span {
        margin-top: 4px;
        text-align: center;
    }

    img {
        &:hover {
            transition: transform 0.05s;
            transform: translateY(-10px);
        }
    }
}

.text-container-skills {
    display: flex;
    flex-direction: column;
    width: 36%;
    overflow-x: hidden;

    p {
        margin-right: 5vw;
    }

    h2 {
        margin: 0;
        margin-right: 16px;
    }

    div {
        display: flex;
        justify-content: space-between;
    }
}

.background-skills {
    position: absolute;
    right: -200px;
    top: 52vh;
    z-index: -1;
}

.btn-skills {
    width: 180px;
    margin-top: 0;

    &:hover {
        transform: scale(1.1) !important;
    }
}

.btn-skills-mobile {
    display: none;
}

@media (max-width: 1170px) {
    .single-skill {
        width: 80px;
        margin: 15px 17px;
        font-size: 12px;

        img {
            height: 50px;
        }
    }
}

@media (max-width: 930px) {
    .single-skill {
        margin: 15px 15px;
    }
}

@media (max-width: 830px) {
    .skills-container {
        padding-top: 0;
    }
}

@media (max-width: 720px) {
    .skills-container {
        flex-direction: column-reverse;
        align-items: center;
        padding-left: 0;
    }

    .icon-container-skills {
        width: 100%;
        justify-content: center;
        padding-right: 5vw;
        padding-left: 5vw;
    }

    .text-container-skills {
        width: -webkit-fill-available;
        padding-left: 5vw;

        img{
            width: 200px;
        }
    }

    .btn-skills {
        display: none;
    }

    .btn-skills-mobile {
        display: unset;
        width: 140px;
        margin-top: 0 !important;

        &:hover {
            transform: scale(1.1) !important;
        }
    }
}