<div class="skills-container">
    <a href="#contact" style="margin-top: 42px; width: fit-content;"><button mat-raised-button
            class="btn-skills-mobile">Get in touch</button></a>
    <div class="icon-container-skills">
        <div *ngFor="let skill of skills; index as i;" class="single-skill">
            <img src="{{ skills_images[i] }}">
            <span>{{ skills[i] }}</span>
        </div>
        <div class="single-skill">
            <img src="assets/img/icons/java.svg" style="filter: brightness(0) invert(1); width: 50px;">
            <span>Java</span>
        </div>
        <div class="single-skill">
            <img src="assets/img/icons/android.png" style="filter: brightness(0) invert(1); width: 60px;">
            <span>Android Studio</span>
        </div>
    </div>
    <div class="text-container-skills">
        <div>
            <h2>Skills</h2>
            <img src="assets/img/greenline.svg">
        </div>
        <span style="margin-right: 5vw;">I have grown my frontend developments skills that have allowed me to create
            different real projects.</span>
        <a href="#contact" style="margin-top: 42px; width: fit-content; margin-left: 10px;"><button mat-raised-button class="btn-skills">Get in touch</button></a>
    </div>
    <div class="background-skills">
        <img src="assets/img/background/greenbg2.svg">
    </div>
</div>