.iam-container {
    position: relative;
    height: 100vh;
    padding-top: 10vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: clip;
    box-sizing: border-box;
}

.bg1-iam {
    position: absolute;
    top: 10vh;
    left: -200px;
}

.bg2-iam {
    position: absolute;
    top: 10vh;
    right: -100px;
}

.content-container-iam {
    z-index: 1;
    display: flex;
    align-items: center;
    padding-right: 90px;


    div {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
}

.frontend-iam {
    color: #4B47FF;
    position: relative;
    top: -42px;
    font-size: 64px !important;
}

.name-iam {
    font-size: 128px !important;
    font-weight: 700;
}

.rotate90 {
    position: relative;
    bottom: 13px;
    left: 30px;

    span {
        font-size: 86px !important;
    }

    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.contact-iam {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 42px;

    img {
        cursor: pointer;

        &:hover {
            transition: transform 0.35;
            transform: scale(1.2);
        }
    }
}

.socials-div-iam {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 220px;
    margin-left: 48px;
}

.bline-iam {
    width: 5vw;
    cursor: unset !important;

    &:hover {
        transition: none m !important;
        transform: none !important;
    }
}

.scroll-down {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    position: absolute;
    right: 0;
    bottom: 72px;
    display: flex;
    justify-content: space-between;
    width: 164px;
    font-size: 23px;

    cursor: pointer;
}

.btn-iam {
    margin-top: 30px !important;
    width: 200px;
}

.arrow-down-iam {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

@media(max-width: 1170px) {

    .frontend-iam {
        font-size: 43px !important;
    }

    .name-iam {
        font-size: 90px !important;
    }

    .btn-iam {
        width: 168px;
        margin-top: 0 !important;
    }

    .rotate90 {
        span {
            font-size: 53px !important;
        }
    }

    .scroll-down {
        font-size: 18px;
        justify-content: unset;
        bottom: 48px;

        span {
            margin-right: 8px;
        }
    }

    .button-socials {
        height: 26px;
    }

    .socials-div-iam {
        width: 170px;
    }


}

@media(max-width: 720px) {
    .scroll-down {
        display: none;
    }

    .content-container-iam {
        padding: 0;
    }

    .rotate90 {
        bottom: 11px;
        left: 14px;

        span {
            font-size: 30px !important;
        }
    }

    .name-iam {
        padding-right: 25px;
        font-size: 51px !important;
    }

    .frontend-iam {
        font-size: 27px !important;
        top: -26px;
    }

    .bg1-iam {
        filter: brightness(0.5);
    }

    .bg2-iam {
        filter: brightness(0.5);
    }

    .btn-iam {
        width: 132px;
    }

    .contact-iam {
        right: 0;
    }

    .bline-iam {
        width: 46px;
    }

    .socials-div-iam {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 0;
    }

}

@media (max-width: 380px) {
    .rotate90 {
        bottom: 8px;
        left: 14px;

        span{
            font-size: 22px !important;
        }
    }

    .name-iam{
        font-size: 40px !important;
    }

    .frontend-iam{
        font-size: 21px !important;
        top: -21px;
    }

    .btn-iam{
        margin-top: 100px !important;
    }
}