<div class="iam-container">
    <div class="background-iam">
        <img class="bg1-iam" src="assets/img/background/blue.svg">
        <img class="bg2-iam" src="assets/img/background/green.svg">
    </div>
    <div class="content-container-iam">
        <div class="rotate90">
            <span>I am</span>
        </div>
        <div>
            <span class="name-iam">Simon Vitt</span>
            <span class="frontend-iam">Frontend Developer</span>
        </div>
    </div>
    <a href="#contact">
    <button mat-raised-button class="btn-iam">Let's talk!</button>
    </a>
    <div class="contact-iam">
        <img src="assets/img/blue-line.svg" class="bline-iam">
        <div class="socials-div-iam">
        <a href="https://github.com/SimonVitt/" target="_blank"><img src="assets/img/icons/github-icon.svg" class="button-socials"></a>
        <a href="mailto:ttivnomis@gmail.com"><img src="assets/img/icons/email-icon.svg" class="button-socials"></a>
        <a href="https://www.linkedin.com/" target="_blank"><img src="assets/img/icons/linkedin-icon.svg" class="button-socials"></a>
        </div>
    </div>
    <a class="scroll-down" href="#about-me">
        <span>Scroll down</span>
        <img src="assets/img/icons/arrow-icon.svg" class="arrow-down-iam">
    </a>
</div>