<div class="iam-container">
    <div class="background-iam">
        <img class="bg1-iam" src="assets/img/background/blue.svg">
        <img class="bg2-iam" src="assets/img/background/green.svg">
    </div>
    <div class="content-container-iam">
        <div class="rotate90">
            <span>I am</span>
        </div>
        <div>
            <span class="name-iam">Simon Vitt</span>
            <span class="frontend-iam">Frontend Developer</span>
        </div>
    </div>
    <button mat-raised-button class="btn-iam">Let's talk!</button>
    <div class="contact-iam">
        <img src="assets/img/blue-line.svg" class="bline-iam">
        <div class="socials-div-iam">
        <img src="assets/img/icons/github-icon.svg" class="button-socials">
        <img src="assets/img/icons/email-icon.svg" class="button-socials">
        <img src="assets/img/icons/linkedin-icon.svg" class="button-socials">
        </div>
    </div>
    <div class="scroll-down">
        <span>Scroll down</span>
        <img src="assets/img/icons/arrow-icon.svg" class="arrow-down-iam">
    </div>
</div>